@use 'variables';
@use 'typography';
@use 'mixins';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

body {
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.section-1,
.section-2,
.section-3,
.section-4 {
    height: 100vh;
    display: flex;
    width: max-content;
    align-items: center;
}

.header-nav {
    display: flex;
}

h1 {
    font-family: 'Cormorant SC', serif;
    font-style: regular;
    font-weight: 400;
    text-align: center;
    color: #7f581f;

}

.header-title {
    vertical-align: middle;
}

p {
    text-align: center;
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: light;
    font-weight: 300;
}

.header-nav {
    position: fixed;
    top: 0;
    margin: 20px 0px;
    font-family: 'Roboto Condensed', sans-serif;
    ul {
        display: flex;
        color: rgb(142, 108, 108) !important;
        list-style: none;
    li {
        transition: 1s ease;
    }
    }
    a {
        color: whitesmoke;
        transition: 1s ease;
    }
    :hover {
        color: white;
        transition: 1s ease;
    }
}}