@use 'typography';
@use 'variables';
@use 'mixins';

body {
    background: rgb(7, 7, 7);
}

h1 {
    color: #7f581f;
    font-family: 'Cormorant SC', serif;
}

.header-nav {
    display: inline;
    color: whitesmoke !important;
}